{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <h1>Toutes les catégories : </h1>

    {% for category in categories %}
        <div class="card border-info mb-3" style="max-width: 20rem;">
            <div class="card-header">{{ category.name }}</div>
            <div class="card-body">
                <a href="{{ path("category_show", { id: category.id }) }}">Voir la fiche</a>
            </div>
        </div>
    {% else %}
        Aucune catégorie trouvée.
    {% endfor %}
{% endblock %}
